name: Build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 3 * * 6'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.10.0
      - run: zig version
      - run: zig env
      - run: zig build
      - run: zig build test
      - run: zig fmt --check src/*.zig
